@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url(styles.css);

:root {
    --card-primary-color: gray;
}

#ds-card {
    border: 2px solid var(--card-primary-color);
    border-radius: 20px;
    padding: 20px;
    width: auto;
    justify-content: center;
}

#ds-card .display-avatar {
    border-radius: 20% 20% 20% 0%;
    border: 2px solid transparent; 
}

#ds-card .username {
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-size: 18px;
    color: var(--card-primary-color);
    margin: 10px;
    transform: scale(1.4);
}

#ds-card .user-link {
    font-family: "Wix Madefor Display";
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    color: #a8a8a8;
    transition: color 0.3s;

    &:active, &:hover {
        color: var(--addeding-color);
    }
}

.shields{
    margin: 0px 10px;
}
